{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="card shadow-lg border p-4">
    <h2 class="text-center">Reset Password</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="new_password1" class="form-label">New Password</label>
        <input
          type="password"
          name="new_password1"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="new_password2" class="form-label"
          >Confirm New Password</label
        >
        <input
          type="password"
          name="new_password2"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-success w-100">
        Update Password
      </button>
    </form>
  </div>
</div>
{% endblock %}
